<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <h1 class="my-3 p-3 ">WELCOME {{loged_user.first_name}}</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " href="/success">Home</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
  
      </ul>
    </div>
  </nav>

  <div>
    <h1 class="text-center">{{creator_recipe.first_name}}</h1>
    <h1 class="text-center">"{{recipe.name}}"</h1>
    <div class="w-75 mx-auto d-block my-3 p-3  bg-success border bg-opacity-25 text-white">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Description</th>
            <td class="text-center">{{recipe.description}}</td>
          </tr>
          <tr>
            <th scope="row">Under 30 minutes</th>
            {%if recipe.time == 1%}
            <td class="text-center">YES</td>
            {% endif %}
            {%if recipe.time == 0%}
            <td class="text-center">NO</td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Instructions</th>
            <td class="text-center">{{recipe.instructions}}</td>
          </tr>
          <tr>
            <th scope="row">Date Made</th>
            <td class="text-center">{{recipe.date}}</td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>
</body>

</html>